[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
nltk = "*"
selenium = "*"
requests = "*"
beautifulsoup4 = "*"
airtable = "*"
quart = "*"
quart-cors = "*"
webdriver-manager = "*"
unidecode = "*"

[dev-packages]

[requires]
python_version = "3.11"
